.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: transparent; /* Şeffaf arka plan */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-left: 50px;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.navigation li {
    cursor: pointer;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navigation li:hover {
    color: #4CAF50;
}

.buttons button {
    padding: 10px 20px;
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 100px;
}

.buttons button:hover {
    background-color: #4CAF50;
    color: white;
}
